.question-link:visited{
    color: #ffffff;
  }
  
  a {
    cursor: pointer;
    text-decoration: underline;
  }
  
  a:link {
    color: #61bff9;
  }
  
  a:visited {
    color: #466995;
  }
  
  a:hover { 
    text-decoration: none;
  }
  
  a:active, .question-link:active {
    color:#DBE9EE;
  }
  
  .answer {
    border: #466995 solid 1px;
    border-radius: 10px;
    box-shadow: 0px 4px;
  }
  
  .answer:active {
    margin-top: 24px;
    margin-bottom: 16px
    box-shadow: 0px 0px;
    background-color: #C0D6DF;
    color: #ffffff;
  }